body { color: #a69a81; background-color: #2b2525 }
#intro { color: #9c9778; }
#name { color: #9c9778; }
#name a { color: #85342e; }
#name a:hover { color: #fcfce4; }
#desc { color: #a69a81; }
#nav li a, #nav li.current_page_item ul li a { color: #f7e696; }
#nav li a:hover, #nav li.current_page_item ul li a:hover { color: #fcfce4; }
#nav li.current_page_item a { color: #fcfce4; }
#social li a { color: #f7e696; }
#social li a:hover { color: #fcfce4; }
#search #s { color: #9c9778; }
#search #s:focus { color: #2b2525; }
#twitter h2 { color: #85342e; }
.content a:link, .content a:visited, .content a:active { color: #f7e696; }
.content a:hover { color: #fcfce4; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 { color: #c9bb9e; }
#archive-title h2 { color: #a69a81; }
#archive-title h2 strong { color: #c9bb9e; }
.content h2 { color: #85342e; }
.content h2 a:link, .content h2 a:visited, .content h2 a:active { color: #c9bb9e; }
.content h2 a:hover { color:#fcfce4; }
.content h3 { color: #85342e; }
.content .wp-caption p { color: #9c9778; }
a:link.button, a:visited.button, a:active.button { color: #2b2525; background-color: #85342e; border: 3px solid #2b2525; }
a:hover.button { color: #2b2525; background-color: #85342e; border: 3px solid #2b2525; }
#content .navigation a { color: #2b2525; background-color: #85342e; border: 3px solid #2b2525; }
#content .navigation a:hover { color: #2b2525; background-color: #85342e; border: 3px solid #2b2525; }
.content .wp-pagenavi a, .content .wp-pagenavi a:link, .content .wp-pagenavi a:visited, .content .wp-pagenavi a:active { color: #2b2525; background-color: #9c9778; }
.content .wp-pagenavi a:hover { color: #2b2525; background-color: #a69a81; }
.content .wp-pagenavi span.pages { color: #9c9778; }
.content .wp-pagenavi span.current, .content .wp-pagenavi span.extend { color: #a69a81; background-color: #2b2525; }
.content .wp-pagenavi span.current { color: #2b2525; background-color: #85342e; }
.post-date span { color: #2b2525; background-color: #85342e; }
.post-categories { color: #9c9778; }
#comments .bypostauthor > div > div > .avatar { background: #85342e; }
#comments h2 { color: #85342e; }
#commentform label small span { color: #9c9778; }
#commentform input, #commentform textarea { color: #a69a81; background: #2b2525; border: 1px solid #9c9778; }
#commentform input:focus, #commentform textarea:focus { color: #2b2525; background: #c9bb9e; border: 1px solid #c9bb9e; }
#commentform #submit { color: #2b2525; background-color: #85342e; border: 3px solid #2b2525; }
#commentform #submit:hover { color: #2b2525; background-color: #85342e; border: 3px solid #2b2525; }
#footer { color: #9c9778; }
#footer a:link, #footer a:visited, #footer a:active { color: #9c9778; }
#footer a:hover { color: #a69a81; }
